.main {
  text-align: center;
}
.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.display {
  color: white;
  margin: 20px;
}
button {
  background-color: rgb(10, 226, 21);
  font-weight: 900;
  font-size: large;
  padding: 10px;
}
form {
  display: grid;
  max-width: 300px;
  margin: auto;
}
label {
  grid-column: 1;
  justify-self: left;
  margin-right: 10px;
}
input {
  grid-column: 2;
  justify-self: left;
}
#submit {
  margin-top: 20px;
  font-size: larger;
  font-weight: 500;
}
